language: bash
services: docker

before_script:
   - docker info
   - docker images

script:
   - make

after_script:
   - docker images
   - docker run -dt --name=toran-proxy cedvan/toran-proxy:latest
   - sleep 5
   - docker logs toran-proxy
   - docker rm -f  toran-proxy

